.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.logo{
    width: 64px;
    height: 64px;
}
.authLinks{
    display: flex;
    align-items: center;
}
.authLinks a{
    text-decoration: none;
    padding: 4px 16px;
    color: #e32c23;
    height: 26px;
}
.authLinks a.login{
    background-color: #e32c23;
    border-radius: 4px;
    color:#ffffff;
}

/*--------*/
/* Navbar */
/*--------*/
.navbar{
    background-color: #e32c23;
}
.navbar ul{
    max-width: 1000px;
    height: 42px;
    margin: 0 auto;
    list-style-type: none;
}
.navbar ul li{
    float: right;
}
.navbar ul li a{
    display: inline-block;
    padding: 10px 16px;
    color: #ffffff;
    opacity: 0.8;
}
.navbar ul li a:hover{
    opacity: 1;
}